
<!DOCTYPE HTML>
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title><%=pageTitle%></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/public/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
		<form name="myForm">
			<section id="banner">
				<h1><img src="/public/images/beer2.png"><p><br></be><strong>Beer-o-matic</strong><br><br>Um gerador de opinião</p></h1>
				<h2><%=review%></h2>
				<input type="hidden" id="myReview" value="<%=review%> - By http://beeromatic.sarcasmoinc.com"/>
				<ul class="actions">
					<li><a href="#" class="button special" onclick="location.reload()">Nova opinião</a></li>
					<li><a href="#" class="button special" onclick="copyText(document.myForm.myReview)">Control-C</a></li>
				</ul>
				<h1><p>mostre sapiência</p></h1>
			</section>
		</form>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Sarcasmo Inc. - Design: <a href="http://templated.co/">TEMPLATED</a>.<br>
					Owner: <a href="mailto:harrisson@gmail.com">@HarrissonAzevedo</a>
				</div>
				<div style="text-align: center;">
					0.0.3
				</div>
			</footer>

		<!-- Scripts -->
			<script src="public/assets/js/jquery.min.js"></script>
			<script src="public/assets/js/skel.min.js"></script>
			<script src="public/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="public/assets/js/main.js"></script>
			<script>
				function copyText(element) {
					// document.myForm.myField.value = element.innerHTML;
					// alert(element.value)
					var review = element.value
					document.querySelector('#myReview').type = "text";
					document.querySelector('#myReview').select();
					document.execCommand('copy',true,review);
					document.querySelector('#myReview').type = "hidden";
				}			
			</script>

	</body>
</html>
